on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: macOS-26
    steps:
    - uses: actions/checkout@v5
    - run: brew install swift-protobuf
    - run: xcodebuild -skipPackagePluginValidation