name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: macOS-26
    steps:
    - run: sudo xcode-select -s /Applications/Xcode_26.2.app
    - uses: actions/checkout@v5
      with:
        submodules: true
    - run: brew install swift-protobuf
    - run: set -o pipefail && xcodebuild -skipPackagePluginValidation -scheme FruitXR | tee xcodebuild.log | xcpretty -c
    - uses: actions/upload-artifact@v6
      if: failure()
      with:
        name: xcodebuild-log
        path: xcodebuild.log